{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h1>Inscription</h1>

    {{ form_start(form) }}
    {{ form_row(form.username, 'label' : 'Nom D\'utilisateur' { 
        'attr' :{
            'placeholder' : 'Pseudo :'}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.confirm_password) }}


    <button type="submit" class="btn btn-primary">S'inscrire</button>

    {{ form_end(form) }}
</div>
{% endblock %}