{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <h1>Inscription</h1>

    {{ form_start(form) }}
    {{ form_row(form.username, {'label' : 'Pseudo','attr' :{
            'placeholder' : 'Pseudo :'}}) }}

    {{ form_row(form.email, {'label' : 'Email','attr' :{
        'placeholder' : 'Email :'}})  }}

    {{ form_row(form.password, {'label' : 'Mot de Passe','attr' :{
        'placeholder' : 'MDP :'}})  }}

    {{ form_row(form.confirm_password, {'label' : 'Confirmez votre MDP','attr' :{
        'placeholder' : 'retapez votre MDP :'}})  }}


    <button type="submit" class="btn btn-primary">S'inscrire</button>

    {{ form_end(form) }}
</div>
{% endblock %}