{% extends "base.html.twig" %}


{% block body %}<style>
    article {
        margin-top: 0px;
    }

    h2 {
        background: url({{event.image}});
        height: 250px;
        width: 1920px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-top: 100px;
        text-align: center;
        font-size: 50px;

    }

    .card-body {
        margin: 0 !important;
        padding: 0 !important;
    }
</style>


<article>


    <div class="card-body">
        <h2 class="card-title">{{event.title}}</h2>
        <div class="container">
            <p class="card-text">{{event.content | raw }}</p>
            <hr>
            <p class="card-text"><small class="text-muted">Ecris le {{ event.createdAt | date('d/m/Y') }} à
                    {{ event.createdAt | date('H:i') }} </small></p>
        </div>
    </div>

</article>

{% endblock %}