{% extends "crudTemplate.html.twig" %}
{% block body %}

{% block content %}
<div class="container">
    <h2>Actualités</h2>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Contenu</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for actu in actu %}
            <tr>
                <td>{{actu.title}}</td>
                <td>{{actu.content | raw }}</td>
                <td>{{actu.image | raw}}</td>
                <td> <a href="{{ path('actuShow', {'id': actu.id}) }}" class="btn btn-primary">Afficher</a>
                    <a href="{{ path('editActu', {'id': actu.id}) }}" class="btn btn-warning">Modifier</a>
                    <a href="{{ path('deleteActu', {'id': actu.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}









{% endblock %}